/* las variables siempre vanm arriba de todo */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Vollkorn:wght@400;600;900&display=swap");
body {
  background-color: #caf0f8; }

header {
  background-color: #0077B6; }

footer {
  background-color: #0096c7; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: black;
  font-size: 25px; }

.nav-link {
  color: #000000; }

.active {
  font-weight: bold; }

.navbar-brand {
  font-size: 30px; }

a:hover {
  text-decoration: underline #caf0f8; }

.tarjetasIndex {
  background-color: #0077b6; }

/* QUIENES HTML */
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "titulo . ." "texto texto img" "texto texto img";
  padding-top: 45px; }

.texto {
  grid-area: texto; }

.img {
  grid-area: img; }

.titulo {
  grid-area: titulo; }
